.wrapper {
  display: flex;
  height: 101vh;
  width: 101vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.wrapper button {
  padding: 20px 40px;
  background: #614101;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  font-size: 40px;
}

.accordion {
  width: 500px;
}

.item {
  background: #614101;
  margin-bottom: 10px;
  padding: 10px 20px;
}

.title {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.content {
  color: #c69999;
  height: auto;
}


